
<!--Navbar-->
<nav class="navbar navbar-expand-sm navbar-dark mb-2  blue-grey darken-3">
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="/"><b>SatLink</b></a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact-us">Contact Us</a>
                </li>



            </ul>
            <!-- Links -->

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/users/login">Log in
                    </a>
                </li>




            </ul>
        </div>
        <!-- Collapsible content -->

    </div>


</nav>
<!--/.Navbar-->