<p>Enter <b>Cable Card number</b>  of customer to search a customer and record a payment.</p>
<form class="form-inline">
    <div class="form-group mb-2">
<input class="form-control" type="text" placeholder="Search" aria-label="Search" required>
    </div>
    
   <button class="btn btn-default btn-md mb-3" type="submit"><i class="fa fa-search"></i></button>
</form>
