<h1 class='mt-5 display-2 text-center'><b>404</b> :(</h1>
<p class="lead text-center">Looks like you are lost...</p>
<div class="text-center">
<a class="mx-auto btn btn-outline-success" href="/">Back to Home</a>
</div>
