<!--Jumbotron-->
<div class="jumbotron text-center">

    <!--Title-->
    <h1 class="card-title h2-responsive mt-2"><strong>About Section</strong></h1>
    <!--Subtitle-->
    <p class="blue-text mb-4 font-bold">Powered by Node.JS</p>

    <!--Text-->
    <div class="d-flex justify-content-center">
        {{#if user}}
<p class="card-text mb-3" style="max-width: 43rem;">Head to Dashboard section to explore more
        </p>
        {{else}}
<p class="card-text mb-3" style="max-width: 43rem;">Use your credentials to Log In
        </p>
        {{/if}}
        
    </div>


   
</div>
<!--Jumbotron-->