<!--Jumbotron-->
<div class="jumbotron text-center">

    <!--Title-->
    <h1 class="card-title h2-responsive mt-2"><strong>Contact Us</strong></h1>
    <!--Subtitle-->
    <p class="blue-text mb-4 font-bold">Get in touch with us</p>

    <!--Text-->
    <div>
        <p>Address: India,WB
        </p>
        <p>Created and Maintained by: SAGNIK</p>
        <p><b>SatLink © 2018 Copyright </b></p>
    </div>


   
</div>
<!--Jumbotron-->