<!--Jumbotron-->
<div class="jumbotron text-center">

    <!--Title-->
    <h1 class="card-title h2-responsive mt-2"><strong>Contact Us</strong></h1>
    <!--Subtitle-->
    <p class="blue-text mb-4 font-bold">Get in touch with us</p>

    <!--Text-->
    <div class="d-flex justify-content-center">
        <p class="card-text mb-3" style="max-width: 43rem;">Address: India,WB
        </p>
    </div>


   
</div>
<!--Jumbotron-->