<div class="row mb-4 ml-2 mt-1">

    <h4> <b>Welcome: </b> &nbsp; {{user.userName}}<span class="badge badge-pill pink">{{user.role}}</span></h4>

</div>


<!-- Card deck -->
<div class="card-deck">

    <!-- Card -->
    <div class="card mb-4">

        <!--Card content-->
        <h4 class="card-header pink lighten-3 font-weight-bold text-black"><i class="fas fa-users"></i>&nbsp;Users</h4>
        <div class="card-body">

            <!--Title-->
            {{!-- <h4 class="card-title">User Management</h4> --}}
            <!--Text-->
            <p class="card-text">Mangage users of different roles</p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <div class="btn-group dropup">
                <button type="button" class="btn btn-sm btn-info">Dropup</button>
                <button type="button" class="btn btn-sm btn-primary dropdown-toggle px-3" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Add</a>
                    <a class="dropdown-item" href="#">Update</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>

        </div>
        <h4 class="card-header blue-grey text-white">Users</h4>
    </div>

    <!-- Card -->



     <!-- Card -->
    <div class="card mb-4">

        <!--Card content-->
        <h4 class="card-header red lighten-3 font-weight-bold text-black"><i class="fas fa-user-tie"></i></i>&nbsp;Customers</h4>
        <div class="card-body">

            <!--Title-->
            {{!-- <h4 class="card-title">User Management</h4> --}}
            <!--Text-->
            <p class="card-text">Mangage users of different roles</p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <div class="btn-group dropup">
                <button type="button" class="btn btn-sm btn-info">Dropup</button>
                <button type="button" class="btn btn-sm btn-primary dropdown-toggle px-3" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Add</a>
                    <a class="dropdown-item" href="#">Update</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>

        </div>
        <h4 class="card-header blue-grey text-white">User Management</h4>
    </div>

    <!-- Card -->

 <!-- Card -->
    <div class="card mb-4">

        <!--Card content-->
        <h4 class="card-header orange lighten-3 font-weight-bold text-black"><i class="fas fa-poll-h"></i>&nbsp;Reports</h4>
        <div class="card-body">

            <!--Title-->
            {{!-- <h4 class="card-title">User Management</h4> --}}
            <!--Text-->
            <p class="card-text">Mangage users of different roles</p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <div class="btn-group dropup">
                <button type="button" class="btn btn-sm btn-info">Dropup</button>
                <button type="button" class="btn btn-sm btn-primary dropdown-toggle px-3" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Add</a>
                    <a class="dropdown-item" href="#">Update</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>

        </div>
        <h4 class="card-header blue-grey text-white">Users</h4>
    </div>

    <!-- Card -->



    

</div>
<!-- Card deck -->