<!-- Default form login -->



<div class="row">
    <div class="col-lg-4 col-md-6 mx-auto mt-4">

        <div class="card">

            <h4 style="background: linear-gradient(to left, #00b4db, #0083b0);" class="card-header white-text  text-center py-3"><i class="fas fa-lock"></i>&nbsp;Sign
                In</h4>
            <div class="card-body">
                <form action="/users/login" method="POST">
                    <!-- Username -->
                    <div class="form-group">

                        <input type="text" name='username' id="defaultUserName" class="form-control" placeholder="Username" required>
                    </div>

                    <!-- Password -->
                    <div class="form-group">

                        <input type="password" name='password' id="defaultPassword" class="form-control" placeholder="Password" pattern=".{8,}" required>
                    </div>



                    <!-- Sign in button -->
                    <button class="btn btn-primary btn-block my-4" type="submit">SUBMIT</button>




                </form>

            </div>
        </div>


    </div>
</div>
<!-- Default form login -->