<div class="row">
    <div class="col-lg-6 col-md-8 mx-auto mt-2">
        <!-- Default form subscription -->

        <!-- Default form subscription -->

    </div>
</div>



<!-- Default form login -->



<div class="row">
    <div class="col-lg-6 col-md-8 mx-auto mt-4">

        <div class="card">

            <h4 style=" background: linear-gradient(to right, #654ea3, #eaafc8);" class="card-header white-text  text-center py-3"><i
                    class="fas fa-user-plus"></i>&nbsp;Add Customer</h4>
            <div class="card-body">
                <p class="card-text">Fill up some basic info to create a customer. <b class='amber-text'>Password
                        should be minimum 8 characters long</b></p>

                <form method="POST" action="" class="text-left">




                    <div class="form-group">
                        <label for="stb_no">Set Top Box Number</label>
                        <input class="form-control" type="text" name="stb_no" id="stb_no" maxlength="32" required>
                    </div>

                    <div class="form-group">
                        <label for="vc_no">VC number</label>
                        <input class="form-control" type="number" min='0' name="vc_no" id="vc_no" maxlength="32"
                            required>
                    </div>

                    <div class="form-group">
                        <label for="name">Customer Name</label>
                        <input class="form-control" type="text" name="name" id="name" maxlength="50" required>
                    </div>


                    <div class="form-group">
                        <label for="contact">Contact Number</label>
                        <input class="form-control" type="number" min='1111111111' max='9999999999' name="contact" id="contact" pattern=".{10,}">
                    </div>


                    <!-- Sign in button -->
                    <button class="btn btn-default btn-block" type="submit">SUBMIT</button>


                </form>

            </div>
        </div>


    </div>
</div>
<!-- Default form login -->